services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: monitoring-app
        container_name: monitoring-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        networks:
            - monitoring-network
        dns:
            - 8.8.8.8
            - 8.8.4.4

    webserver:
        image: nginx:alpine
        container_name: monitoring-webserver
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        networks:
            - monitoring-network
        depends_on:
            - app

    queue:
        image: monitoring-app
        container_name: monitoring-queue
        restart: unless-stopped
        working_dir: /var/www
        command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
        volumes:
            - ./:/var/www
        networks:
            - monitoring-network
        dns:
            - 8.8.8.8
            - 8.8.4.4
        depends_on:
            - app
            - db

    db:
        image: mysql:8.0
        container_name: monitoring-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-laravel}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_USER: ${DB_USERNAME:-laravel}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - monitoring-network
        ports:
            - "33061:3306"

networks:
    monitoring-network:
        driver: bridge

volumes:
    dbdata:
        driver: local
